{% extends 'base.html' %}

{% block title %}
Daftar Log
{% endblock title%}

{% block content %}

<div class="pt-3 text-center">
  <h2>Daftar Log</h2>
</div>

<div class="p-3">
  <table class="table">
    <caption>Tabel Daftar Log TA</caption>
      <thead>
        <tr>
          {% if user.role.role == 'admin' %}
          <th scope="col">Akun TA</th>
          {% endif %}
          <th scope="col">Kategori</th>
          <th scope="col">Jenis Pekerjaan</th>
          <th scope="col">Uraian</th>
          <th scope="col">Konversi Jam Rencana Kinerja</th>
          <th scope="col">Konversi Jam Realisasi Kinerja</th>
          <th scope="col">Aksi</th>
        </tr>
      </thead>
      <tbody>
        {% for log in logs %}
        <tr>
          {% if user.role.role == 'admin' %}
          <td>{{ log.user }}</td>
          {% endif %}
          <td>{{ log.kategori }}</td>
          <td>{{ log.jenis_pekerjaan }}</td>
          <td>{{ log.uraian }}</td>
          <td>{{ log.konversi_jam_rencana_kinerja }}</td>
          <td>{{ log.konversi_jam_realisasi_kinerja }}</td>
          <td>
            <a href="#" class="btn btn-primary">Detail</a>
            <a href="#" class="btn btn-warning">Edit</a>
            <a href="#" class="btn btn-danger">Hapus</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
  </table>
</div>

{% endblock content %}