{% extends 'base.html' %}

{% block title %}
Daftar Log
{% endblock title%}

{% block content %}

<h1>Daftar Log</h1>

<table class="table">
  <caption>Tabel Daftar Log dari Seluruh TA</caption>
    <thead>
      <tr>
        <th scope="col">Akun TA</th>
        <th scope="col">Kategori</th>
        <th scope="col">Jenis Pekerjaan</th>
        <th scope="col">Detail Kegiatan</th>
        <th scope="col">Pemberi Tugas</th>
        <th scope="col">Uraian</th>
        <th scope="col">Periode Pengerjaan</th>
        <th scope="col">Bulan Pengerjaan</th>
        <th scope="col">Jumlah Rencana Kinerja</th>
        <th scope="col">Satuan Rencana Kinerja</th>
        <th scope="col">Konversi Jam Rencana Kinerja</th>
        <th scope="col">Jumlah Realisasi Kinerja</th>
        <th scope="col">Satuan Realisasi Kinerja</th>
        <th scope="col">Konversi Jam Realisasi Kinerja</th>
        <th scope="col">Aksi</th>
      </tr>
    </thead>
    <tbody>
      {% for log in logs %}
      <tr>
        <td>{{ word.user }}</td>
        <td>{{ word.kategori }}</td>
        <td>{{ word.jenis_pekerjaan }}</td>
        <td>{{ word.detail_kegiatan }}</td>
        <td>{{ word.pemberi_tugas }}</td>
        <td>{{ word.uraian }}</td>
        <td>{{ word.periode }}</td>
        <td>{{ word.bulan_pengerjaan }}</td>
        <td>{{ word.jumlah_rencana_kinerja }}</td>
        <td>{{ word.satuan_rencana_kinerja }}</td>
        <td>{{ word.konversi_jam_rencana_kinerja }}</td>
        <td>{{ word.jumlah_realisasi_kinerja }}</td>
        <td>{{ word.satuan_realisasi_kinerja }}</td>
        <td>{{ word.konversi_jam_realisasi_kinerja }}</td>
        <td>
            <a href="#">
                <button type="button" class="btn btn-success">
                    Edit
                </button>
            </a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock content %}