<head>
    Pengisian LOG
</head>
<body>
    <table>
        <tr>
            <td>
                Kategori
            </td>
            <td>
                <select name="kategori">
                    <option value="kat">Kategori</option>
                </select>
            </td>
            <td>
                Jenis Pekerjaan
            </td>
            <td>
                <select name="pekerjaan">
                    <option value="kerja">Kpekerjaan</option>
                </select>
            </td>

        </tr>
        <tr>
            <td>
                Detail Kegiatan
            </td>
            <td>
                <input type="text" name="pemberi_tugas">
            </td>
            <td>
                Pemberi Tugas
            </td>
            <td>
                <input type="text" name="pemberi_tugas">
            </td>
        </tr>
        <tr>
            <td>
                Uraian
            </td>
            <td>
                <input type="text" name="pemberi_tugas">
            </td>
            <td>
                Periode
            </td>
            <td>
                <select name="periode">
                    <option value="periode">periode</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>
                Bulan Pengerjaan
            </td>
            <td>
                <select name="bulan_pengerjaan">
                    <option value="januari">jan</option>
                </select>
            </td>
            <td>
                Jumlah Rencana Kinerja
            </td>
            <td>
                <input type="text" name="jumlah_kinerja">
            </td>
        </tr>
        <tr>
            <td>
                Satuan Rencana Kinerja
            </td>
            <td>
                <input type="text" name="satuan_kinerja">
            </td>
            <td>
                Konversi Jam Rencana Kinerja
            </td>
            <td>
                <input type="text" name="jam_rencana_kinerja">
            </td>
        </tr>
    </table>
    <input type="submit" name="submit">
</body>
