{% extends 'base.html' %}

{% block title %} Edit Log {% endblock title%}

{% block navbar %}
  {% with variant='light' %}
    {{ block.super }}
  {% endwith %}
{% endblock navbar %}

{% block content %}
<div class="page-header pt-8 pb-6 bg-white-blue">
  <div class="container">
    <h2 class="text-center mb-3">Edit Log</h2>
      {% if messages %}
      {% for message in messages %}
      <div class="alert alert-danger alert-dismissible fade show my-2" role="alert">
        {{message}}
      </div>
      {% endfor %}
      {% endif %}
      <form method="post">
        {% csrf_token %}
        <div class="card my-2">
          <h5 class="card-header pb-0">
            Pengisian Kegiatan
          </h5>
          <div class="card-body">
            <div class="row">
              <div class="col-md-6">
                <label class="form-label">Kategori</label>
                <select name="kategori" class="form-select" required>
                  <option value="{{ log.kategori }}">{{ log.kategori }}</option>
                  {% for kat in kategori_choice %}
                  <option value="{{ kat.1 }}">{{ kat.1 }}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="col-md-6">
                <label class="form-label">Mata Kuliah</label>
                <select name="matkul" class="form-select" required>
                  <option value="{{ log.matkul.nama }}">{{ log.matkul.nama }}</option>
                  {% for matkul in matkul_choice %}
                  <option value="{{ matkul }}">{{ matkul }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <div class="row mt-2">
              <div class="col-md-6">
                <label class="form-label">Pemberi Tugas</label>
                <input type="text" class="form-control" value="{{log.pemberi_tugas}}" name="pemberi_tugas" required />
              </div>
              <div class="col-md-6">
                <label class="form-label">Jenis Pekerjaan</label>
                <input type="text" class="form-control" name="pekerjaan" value="{{log.jenis_pekerjaan}}" required />
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label class="form-label">Detail Kegiatan</label>
                <input type="text" class="form-control" value="{{log.detail_kegiatan}}" name="detail_kegiatan" required />
              </div>
              <div class="col-md-6">
                <label class="form-label">Uraian</label>
                <input type="text" class="form-control" value="{{log.uraian}}" name="uraian" required />
              </div>
            </div>
          </div>
        </div>

        <div class="card my-3">
          <h5 class="card-header pb-0">
            Pengisian Periode Pengerjaan
          </h5>
          <div class="card-body">
            <div class="row">
              <div class="col-md-6">
                <label class="form-label">Periode</label>
                <select name="periode" class="form-select" required>
                  <option value="{{ log.periode }}">{{ log.periode }}</option>
                  {% for periode in periode_choice %}
                  <option value="{{ periode.1 }}">{{ periode.1 }}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="col-md-6">
                <label class="form-label">Bulan Pengerjaan</label>
                <select name="bulan_pengerjaan" class="form-select" required>
                  <option value="{{ log.bulan_pengerjaan }}">{{ log.bulan_pengerjaan }}</option>
                  {% for bulan in bulan_choice %}
                  <option value="{{ bulan.1 }}">{{ bulan.1 }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
          </div>
        </div>

        <div class="card my-3">
          <h5 class="card-header pb-0">
            Pengisian Perkiraan Beban Kerja Per Pekan
          </h5>
          <div class="card-body">
          <div class="row">
            <div class="col-md-4">
              <label class="form-label">Jumlah Rencana Kinerja</label>
              <input type="text" class="form-control" value="{{log.jumlah_rencana_kinerja}}" name="jumlah_kinerja" placeholder="Masukkan angka" required />
            </div>
            <div class="col-md-4">
              <label class="form-label">Satuan Rencana Kinerja</label>
              <input type="text" class="form-control" name="satuan_kinerja" value="{{log.satuan_rencana_kinerja}}" placeholder="Contoh: Tugas" required />
            </div>
            <div class="col-md-4">
              <label class="form-label">Bobot Jam Rencana Kinerja</label>
              <input type="text" class="form-control" name="bobot_kinerja" value="{{log.bobot_jam_rencana_kinerja}}" placeholder="Masukkan angka" required />
              <small class="form-text text-muted">Gunakan titik (.) untuk angka desimal.</small>
            </div>
          </div>
        </div>
      </div>

      <div class="d-grid gap-2 col-6 mx-auto mt-4">
        <button id="realisasi_btn" type="button" class="btn btn-warning" onclick="myFunction()">Buka atau Tutup Tab Realisasi Kinerja</button>
      </div>

      <div id="realisasi_form" class="card">
        <h5 class="card-header pb-0">
          Pengisian Realisasi Beban Kerja per Pekan
        </h5>
        <div class="card-body">
          <div class="row">
            <div class="col-md-4">
              <label class="form-label">Jumlah Realisasi Kinerja</label>
              <input type="text" class="form-control" value="{{log.jumlah_realisasi_kinerja}}" name="jumlah_realisasi_kinerja" placeholder="Masukkan angka" />
            </div>
            <div class="col-md-4">
              <label class="form-label">Satuan Realisasi Kinerja</label>
              <input type="text" class="form-control" value="{{log.satuan_realisasi_kinerja}}" name="satuan_realisasi_kinerja" placeholder="Contoh: Tugas" />
            </div>
            <div class="col-md-4">
              <label class="form-label">Bobot Jam Realisasi Kinerja</label>
              <input type="text" class="form-control" name="bobot_realisasi_kinerja" value="{{log.bobot_jam_realisasi_kinerja}}" placeholder="Masukkan angka" required />
              <small class="form-text text-muted">Gunakan titik (.) untuk angka desimal.</small>
            </div>
          </div>
        </div>
      </div>

      <div class="d-grid gap-2 col-6 mx-auto mt-5">
        <input type="submit" name="submit" class="btn btn-success" />
      </div>
    </form>
  </div>
</div>
{% endblock content %}

{% block script %}
<script>
  function myFunction() {
    var form = document.getElementById("realisasi_form")
    if (form.style.display === "none") {
      form.style.display = "block"
    } else {
      form.style.display = "none"
    }
  }
</script>
{% endblock script %}