{% extends 'base.html' %}

{% block title %}
Pengisian Log
{% endblock title%}

{% block content %}

<h1>Pengisian Log</h1>
<form method="post">
  {% csrf_token %}
  <table>
    <tr>
      <td>Kategori</td>
      <td>
        <select name="kategori" required>
          {% for kat in kategori_choice %}
          <option value="{{ kat.1 }}">{{ kat.1 }}</option>
          {% endfor %}
        </select>
      </td>
      <td>Jenis Pekerjaan</td>
      <td>
        <select name="pekerjaan" required>
          <option value="kerja">kerja</option>
        </select>
      </td>
    </tr>
    <tr>
      <td>Detail Kegiatan</td>
      <td>
        <input type="text" name="detail_kegiatan" required />
      </td>
      <td>Pemberi Tugas</td>
      <td>
        <input type="text" name="pemberi_tugas" required />
      </td>
    </tr>
    <tr>
      <td>Uraian</td>
      <td>
        <input type="text" name="uraian" required />
      </td>
      <td>Periode</td>
      <td>
        <select name="periode" required>
          {% for periode in periode_choice %}
          <option value="{{ periode.1 }}">{{ periode.1 }}</option>
          {% endfor %}
        </select>
      </td>
    </tr>
    <tr>
      <td>Bulan Pengerjaan</td>
      <td>
        <select name="bulan_pengerjaan" required>
          {% for bulan in bulan_choice %}
          <option value="{{ bulan.1 }}">{{ bulan.1 }}</option>
          {% endfor %}
        </select>
      </td>
      <td>Jumlah Rencana Kinerja</td>
      <td>
        <input type="text" name="jumlah_kinerja" required />
      </td>
    </tr>
    <tr>
      <td>Satuan Rencana Kinerja</td>
      <td>
        <input type="text" name="satuan_kinerja" required />
      </td>
    </tr>
  </table>
  <input type="submit" name="submit" />
</form>
{% endblock content %}
