{% extends 'base.html' %}

{% block title %}
History Log
{% endblock title%}

{% block content %}
<div class="container">
    <h1 class="text-center mt-5 mb-3">History Log</h1>
    <div class="accordion" id="historyAccordion">

      {% for entry in history %}
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{entry.history_id}}" aria-expanded="false" aria-controls="collapse{{entry.history_id}}">
            <div class="container">
                <div class="row mt-2">
                    <div class="col-md-4">
                        <strong>Pengedit:</strong> {{entry.history_user}}
                    </div>
                    <div class="col-md-4">
                        <strong>Tanggal Edit:</strong> {{entry.history_date}}
                    </div>
                </div>
            </div>
          </button>
        </h2>
        {% if forloop.first %}
        <div id="collapse{{entry.history_id}}" class="accordion-collapse collapse show">
        {% else %}
        <div id="collapse{{entry.history_id}}" class="accordion-collapse collapse">
        {% endif %}
          <div class="accordion-body">
            <div class="card mt-2 mb-2">
                <h5 class="card-header">
                    Pengisian Kegiatan
                </h5>
                <div class="card-body">
                    <div class="col-md-12">
                        <label class="form-label">Kategori</label>
                        <input type="text" class="form-control" name="kategori" readonly value="{{entry.kategori}}"/>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-4">
                            <label class="form-label">Jenis Pekerjaan</label>
                            <input type="text" class="form-control" name="pekerjaan" readonly value="{{entry.jenis_pekerjaan}}"/>
                        </div>
                        <div class="col-md-4">
                            <label class="form-label">Detail Kegiatan</label>
                            <input type="text" class="form-control" name="detail_kegiatan" readonly value="{{entry.detail_kegiatan}}"/>
                        </div>
                        <div class="col-md-4">
                            <label class="form-label">Pemberi Tugas</label>
                            <input type="text" class="form-control" name="pemberi_tugas" readonly value="{{entry.pemberi_tugas}}"/>
                        </div>
                    </div>
                    <div class="col-12 mt-2">
                        <label class="form-label">Uraian</label>
                        <input type="text" class="form-control" name="uraian" readonly value="{{entry.uraian}}"/>
                    </div>
                </div>
            </div>

            <div class="card mt-2 mb-2">
                <h5 class="card-header">
                    Pengisian Periode Pengerjaan
                </h5>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <label class="form-label">Periode</label>
                            <input type="text" class="form-control" name="periode" readonly value="{{entry.periode}}"/>
                        </div>
                        <div class="col-md-6">
                            <label class="form-label">Bulan Pengerjaan</label>
                            <input type="text" class="form-control" name="bulan_pengerjaan" readonly value="{{entry.bulan_pengerjaan}}"/>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card mt-2 mb-2">
                <h5 class="card-header">
                    Pengisian Perkiraan Beban Kerja Per Pekan
                </h5>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <label class="form-label">Jumlah Rencana Kinerja</label>
                            <input type="text" class="form-control" name="jumlah_rencana_kinerja" readonly value="{{entry.jumlah_rencana_kinerja}}" />
                        </div>
                        <div class="col-md-6">
                            <label class="form-label">Satuan Rencana Kinerja</label>
                            <input type="text" class="form-control" name="satuan_rencana_kinerja" readonly value="{{entry.satuan_rencana_kinerja}}" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="card mt-2 mb-2">
                <h5 class="card-header">
                    Pengisian Realisasi Beban Kerja per Pekan
                </h5>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <label class="form-label">Jumlah Realisasi Kinerja</label>
                            <input type="text" class="form-control" name="jumlah_realisasi_kinerja" readonly value="{{entry.jumlah_realisasi_kinerja}}" />
                        </div>
                        <div class="col-md-6">
                            <label class="form-label">Satuan Realisasi Kinerja</label>
                            <input type="text" class="form-control" name="satuan_realisasi_kinerja" readonly value="{{entry.satuan_realisasi_kinerja}}" />
                        </div>
                    </div>
                </div>
            </div>

          </div>
        </div>
      </div>
      {% endfor %}
</div>
{% endblock content %}