{% extends 'base.html' %}

{% block title %} Riwayat Perubahan Log {% endblock title%}

{% block navbar %}
  {% with variant='light' %}
    {{ block.super }}
  {% endwith %}
{% endblock navbar %}

{% block content %}
<div class="page-header py-8 bg-white-blue">
    <div class="container">
        <h3 class="text-center mb-5">Riwayat Perubahan Log</h3>
        <div class="accordion" id="historyAccordion">
    
          {% for entry in history %}
          <div class="accordion-item bg-white">
            <div class="accordion-header bg-light px-2">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{entry.history_id}}" aria-expanded="false" aria-controls="collapse{{entry.history_id}}">
                  <div class="row w-90">
                      <div class="col-md-6">
                          <strong>Pengedit:</strong> {{entry.history_user}}
                      </div>
                      <div class="col-md-6">
                          <strong>Tanggal Edit:</strong> {{entry.history_date}}
                      </div>
                  </div>
              </button>
            </div>
            {% if forloop.first %}
            <div id="collapse{{entry.history_id}}" class="accordion-collapse collapse show">
            {% else %}
            <div id="collapse{{entry.history_id}}" class="accordion-collapse collapse">
            {% endif %}
              <div class="accordion-body p-3 mb-4">
                <div class="card rounded-0 bg-white-blue">
                    <h5 class="card-header rounded-0 text-dark">
                        Pengisian Kegiatan
                    </h5>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <label class="form-label">Mata Kuliah</label>
                                <input type="text" class="form-control" name="matkul" readonly value="{{entry.matkul}}"/>
                            </div>
                            <div class="col-md-6">
                                <label class="form-label">Pemberi Tugas</label>
                                <input type="text" class="form-control" name="pemberi_tugas" readonly value="{{entry.pemberi_tugas}}"/>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-md-6">
                                <label class="form-label">Kategori</label>
                                <input type="text" class="form-control" name="kategori" readonly value="{{entry.kategori}}"/>
                            </div>
                            <div class="col-md-6">
                                <label class="form-label">Jenis Pekerjaan</label>
                                <input type="text" class="form-control" name="pekerjaan" readonly value="{{entry.jenis_pekerjaan}}"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label class="form-label">Detail Kegiatan</label>
                                <input type="text" class="form-control" name="detail_kegiatan" readonly value="{{entry.detail_kegiatan}}"/>
                            </div>
                            <div class="col-md-6">
                                <label class="form-label">Uraian</label>
                                <input type="text" class="form-control" name="uraian" readonly value="{{entry.uraian}}"/>
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="card rounded-0 bg-white-blue">
                    <h5 class="card-header rounded-0 text-dark">
                        Pengisian Periode Pengerjaan
                    </h5>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <label class="form-label">Periode</label>
                                <input type="text" class="form-control" name="periode" readonly value="{{entry.periode}}"/>
                            </div>
                            <div class="col-md-6">
                                <label class="form-label">Bulan Pengerjaan</label>
                                <input type="text" class="form-control" name="bulan_pengerjaan" readonly value="{{entry.bulan_pengerjaan}}"/>
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="card rounded-0 bg-white-blue">
                    <h5 class="card-header rounded-0 text-dark">
                        Pengisian Perkiraan Beban Kerja Per Pekan
                    </h5>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4">
                                <label class="form-label">Jumlah Rencana Kinerja</label>
                                <input type="text" class="form-control" name="jumlah_rencana_kinerja" readonly value="{{entry.jumlah_rencana_kinerja}}" />
                            </div>
                            <div class="col-md-4">
                                <label class="form-label">Satuan Rencana Kinerja</label>
                                <input type="text" class="form-control" name="satuan_rencana_kinerja" readonly value="{{entry.satuan_rencana_kinerja}}" />
                            </div>
                            <div class="col-md-4">
                                <label class="form-label">Bobot Jam Rencana Kinerja</label>
                                <input type="text" class="form-control" name="satuan_rencana_kinerja" readonly value="{{entry.bobot_jam_rencana_kinerja}}" />
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="card rounded-0 bg-white-blue">
                    <h5 class="card-header rounded-0 text-dark">
                        Pengisian Realisasi Beban Kerja per Pekan
                    </h5>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4">
                                <label class="form-label">Jumlah Realisasi Kinerja</label>
                                <input type="text" class="form-control" name="jumlah_realisasi_kinerja" readonly value="{{entry.jumlah_realisasi_kinerja}}" />
                            </div>
                            <div class="col-md-4">
                                <label class="form-label">Satuan Realisasi Kinerja</label>
                                <input type="text" class="form-control" name="satuan_realisasi_kinerja" readonly value="{{entry.satuan_realisasi_kinerja}}" />
                            </div>
                            <div class="col-md-4">
                                <label class="form-label">Bobot Jam Realisasi Kinerja</label>
                                <input type="text" class="form-control" name="satuan_rencana_kinerja" readonly value="{{entry.bobot_jam_realisasi_kinerja}}" />
                            </div>
                        </div>
                    </div>
                </div>
    
              </div>
            </div>
          </div>
          {% endfor %}
    </div>
</div>
{% endblock content %}