{% extends 'base.html' %}

{% block title %} Daftar TA Per Periode {% endblock title%}

{% block navbar %}
  {% with variant='light' %}
    {{ block.super }}
  {% endwith %}
{% endblock navbar %}

Ada dropdown Periode => ajax (?)
Baru daftar TA

{% block content %}
<div class="page-header pt-8 pb-12 bg-white-blue">
  <div class="container">
    <div class="d-sm-flex justify-content-between align-items-center">
      <div class="ms-2 pt-2">
        <h3>Daftar TA Kontrak</h3>
      </div>
      <div class="dropdown d-inline">
        <button class="btn btn-outline-brand border-radius-xl dropdown-toggle ms-sm-2 my-md-3 mx-2" type="button" id="dropdownPeriode" data-bs-toggle="dropdown" aria-expanded="false">
          {{ periode_sekarang }}
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownPeriode">
          {% for periode in pilihan_periode %}
            <button class="dropdown-item" type="button" onclick="showPeriode(this)">{{ periode }}</button>
          {% endfor %}
        </div>
      </div>
    </div>
    
    <div class="card mb-4">
      <div class="card-body px-0 pt-0 pb-2">
        <div class="table-responsive p-0">
          <table class="table align-items-center mb-0" aria-label="Daftar TA Kontrak">
            <thead>
              <tr>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7" scope="col">Nama Asisten</th>
                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7" scope="col">Kontrak</th>
                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7" scope="col">Status</th>
                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7" scope="col">Keterangan</th>
                <th class="text-secondary opacity-7" scope="col"></th>
                <th class="text-secondary opacity-7" scope="col"></th>
              </tr>
            </thead>
            <tbody>
              {% for ta in daftar_ta %}
              <tr>
                <td>
                  <div class="px-3 py-1">
                    <div class="d-flex flex-column justify-content-center">
                      <h6 class="mb-0 text-sm">{{ ta.nama }}</h6>
                      <p class="text-xs text-secondary mb-0">@{{ ta.user }}</p>
                    </div>
                  </div>
                </td>
                <td>
                  <p class="text-center text-xs font-weight-bold mb-0">{{ ta.kontrak }}</p>
                </td>
                <td class="align-middle text-center text-sm">
                  <span class="badge badge-sm bg-success">Fulfilled</span>
                </td>
                <td class="align-middle text-center">
                  <span class="text-secondary text-xs font-weight-bold">TA ini sudah memenuhi beban kerja bulan ini</span>
                </td>
                <td class="align-middle">
                  <a href="{% url 'pengisianLog:daftar_log_evaluator' %}" class="text-primary font-weight-bold text-xs">
                    Lihat Log
                  </a>
                </td>
                <td class="align-middle">
                  <a href="{% url 'rekapanLog:rekapan_log' ta.user %}" class="text-primary font-weight-bold text-xs">
                    Lihat Rekap
                  </a>
                </td>
              </tr>
              {% endfor %}
              <tr>
                <td>
                  <div class="px-3 py-1">
                    <div class="d-flex flex-column justify-content-center">
                      <h6 class="mb-0 text-sm">Billy Luthfi</h6>
                      <p class="text-xs text-secondary mb-0">@billylthf</p>
                    </div>
                  </div>
                </td>
                <td>
                  <p class="text-center text-xs font-weight-bold mb-0">Part Time</p>
                </td>
                <td class="align-middle text-center text-sm">
                  <span class="badge badge-sm bg-warning">Underload</span>
                </td>
                <td class="align-middle text-center">
                  <span class="text-secondary text-xs font-weight-bold">TA ini memerlukan 4 jam lagi untuk memenuhi beban kerja bulan ini</span>
                </td>
                <td class="align-middle">
                  <a href="javascript:;" class="text-primary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
                    Lihat Log
                  </a>
                </td>
                <td class="align-middle">
                  <a href="javascript:;" class="text-primary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
                    Lihat Rekap
                  </a>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="px-3 py-1">
                    <div class="d-flex flex-column justify-content-center">
                      <h6 class="mb-0 text-sm">Gerard Moreno</h6>
                      <p class="text-xs text-secondary mb-0">@gerard.moreno8</p>
                    </div>
                  </div>
                </td>
                <td>
                  <p class="text-center text-xs font-weight-bold mb-0">Part Time</p>
                </td>
                <td class="align-middle text-center text-sm">
                  <span class="badge badge-sm bg-warning">Underload</span>
                </td>
                <td class="align-middle text-center">
                  <span class="text-secondary text-xs font-weight-bold">TA ini memerlukan 2 jam lagi untuk memenuhi beban kerja bulan ini</span>
                </td>
                <td class="align-middle">
                  <a href="javascript:;" class="text-primary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
                    Lihat Log
                  </a>
                </td>
                <td class="align-middle">
                  <a href="javascript:;" class="text-primary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
                    Lihat Rekap
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block script %}
<script>
  function showPeriode(item) {
    document.getElementById("dropdownPeriode").innerHTML = item.innerHTML;
  }
</script>
{% endblock script %}