{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    
    <!-- Webpage Title -->
    <title>{% block title %}{% endblock %} - TA Kontrak Information System</title>
    
    {% block meta %}
    {% endblock meta %}
</head>

<body>
    <div class="row">
        <div class="col ">
            <!-- Navigation -->
    
            {% include 'navbar.html' %}
            <!-- end of navigation -->
        </div>
        <div class ="col-xs">
            {% if request.user.is_authenticated %}
                {{request.user}}
                {{request.user.role}}
                <a href = "{% url 'authentication:ssologout' %}">logout</a>
            {% else %}
                <a href="{% url 'authentication:login' %}">Login</a>
                <a href="{% url 'authentication:register' %}">Register</a>

            {% endif %}
        </div>
    </div>
    {% if request.user.is_authenticated %}
    {% if request.user.password|length == 0 %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>Password belum dibuat</strong> <a href ="{% url 'authentication:change_password' %}">Silahkan ubah password agar dapat login tanpa menggunakan sso</a>
        </div>
     {% endif %}
    {% endif %}

    <!-- Content -->
    <div id="content">
        {% block content %}
        {% endblock content %}
    </div>
    <!-- end of content -->

    <!-- Main Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>

    <!-- Additional Scripts -->
    {% block script %}
    {% endblock script %}
</body>

</html>
