{% load static %}

<nav class="navbar navbar-dark navbar-expand-lg bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'main:homepage' %}">Takis</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Log TA
          </a>
          <ul class="dropdown-menu">
            {% if user.role.role == 'admin' %}
              <li><a class="dropdown-item" href="{% url 'pengisianLog:daftarLogEvaluator' %}">Lihat Seluruh Daftar Log</a></li>
            {% else %}
              <li><a class="dropdown-item" href="{% url 'pengisianLog:daftarLogTA' %}">Lihat Daftar Log</a></li>
              <li><hr class="dropdown-divider" /></li>
              <li><a class="dropdown-item" href="{% url 'pengisianLog:mengisiLog' %}">Tambah Log Baru</a></li>              
            {% endif %}
          </ul>
        </li>
        {% if user.role.role == 'admin' %}
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Admin
          </a>
          <ul class="dropdown-menu">
            
              <li><a class="dropdown-item" href="{% url 'authentication:change_role' %}">Assign Role</a></li>       
          </ul>
        </li>
        {% endif %}
        {% if user.is_authenticated %}
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
          {{request.user}}
          </a>
          <ul class="dropdown-menu">
            
              <li><a class="dropdown-item" href="{% url 'authentication:ssologout' %}">Logout</a></li>
              <li><hr class="dropdown-divider" /></li>
              <li><a class="dropdown-item" href="{% url 'authentication:change_password' %}">Change Password</a></li>       
          </ul>
        </li>
        {% else %}
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="{% url 'authentication:login' %}"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
          Guest
          </a>
          <ul class="dropdown-menu">
            
              <li><a class="dropdown-item" href="{% url 'authentication:login' %}">Login</a></li>
              <li><hr class="dropdown-divider" /></li>
              <li><a class="dropdown-item" href="{% url 'authentication:register' %}">Register</a></li>       
          </ul>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>