{% extends 'base.html' %}


{% block content%}
    <div class="container text-center">
        <h2> Assign role kepada user </h2>
    </div>
    

    <table class ='table table-striped table-bordered'>
        <caption>Daftar user</caption>
        <thead>
            <tr>
                <th scope="col">username</th>
                <th scope="col">role</th>
                <th scope="col">action</th>
            </tr>
        </thead>
        {% for user in users %}
        <tr>
            <td scope="col">{{user.username}}</td>
            <td scope="col">{{user.role.role}}</td>
            <td scope="col">{% if user.role.role != "TA" %}
                <a href="/auth/change_role/{{user.id}}/TA" class="btn btn-primary">TA</a>
                {% endif %}
                {% if user.role.role != "admin" %}
                <a href="/auth/change_role/{{user.id}}/admin" class="btn btn-primary">admin</a>
                {% endif %}
                {% if user.role.role != "not-assign" %}
                <a href="/auth/change_role/{{user.id}}/not-assign" class="btn btn-primary">not-assign</a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}