{% extends 'base.html' %}

{% block title %} Ubah Password {% endblock title %}

{% block navbar %}
  {% with variant='light' %}
    {{ block.super }}
  {% endwith %}
{% endblock navbar %}

{% block content %}
<div class="page-header min-vh-100 bg-white-blue">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-5 col-lg-6 col-md-7">
        <div class="card z-index-0">
          <div class="card-header bg-false-white text-center pt-4 pb-1">
            <h4 class="font-weight-bolder mb-3">Ubah Password</h4>
            <p class="mb-0 text-dark">Password baru anda harus mengikuti kriteria sebagai berikut :</p>
            <p class="mb-0 text-black-50 text-sm">- Minimum 8 karakter</p>
            <p class="mb-0 text-black-50 text-sm">- Tidak boleh sepenuhnya angka (numerik)</p>
            <p class="mb-0 text-black-50 text-sm">- Tidak boleh terlalu mirip dengan informasi pribadi Anda yang lain</p>
          </div>
          <div class="card-body bg-false-white">
            <form action="{% url 'authentication:change_password' %}" method="POST">
              {% csrf_token %}
              <div class="mb-2">
                <label class="form-label">New Password</label>
                {{ form.password1 }}
              </div>
              <div class="mb-2">
                <label class="form-label">Confirm New Password</label>
                {{ form.password2 }}
              </div>
              <div class="text-center">
                <button type="submit" class="btn bg-brand w-100 my-4 mb-2">Perbarui</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}