{% extends 'base.html' %}

{% block title %} Rekap Log {% endblock title %}

{% block navbar %}
  {% with variant='light' %}
    {{ block.super }}
  {% endwith %}
{% endblock navbar %}

{% block content %}

<div class="page-header pt-8 pb-9 bg-white-blue">
  <div class="container">
    <h1 class="text-center mb-3">Rekap Log</h1>
    <div class="m-auto w-50">
      <form method="post">
        {% csrf_token %}
        <select name="bulan" class="form-select" onchange="this.form.submit()">
          <option value="Rata-rata" selected disabled>Selected : {{ choice }}</option>
          <option value="Rata-rata">Rata-rata</option>
          <option value="JAN">JAN</option>
          <option value="FEB">FEB</option>
          <option value="MAR">MAR</option>
          <option value="APR">APR</option>
          <option value="MEI">MEI</option>
          <option value="JUN">JUN</option>
          <option value="JUL">JUL</option>
          <option value="AGT">AGT</option>
          <option value="SEP">SEP</option>
          <option value="OKT">OKT</option>
          <option value="NOV">NOV</option>
          <option value="DES">DES</option>
        </select>
      </form>
      <div class="card mt-3">
        <div class="card-body p-0">
          <div class="table-responsive">
            <table class="table align-items-center mb-0" aria-label="Rekap Log">
                <thead class="bg-light-blue">
                  <tr>
                    <th scope="col">Jenis Pekerjaan</th>
                    <th scope="col">Rencana</th>
                    <th scope="col">Realiasi</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Persiapan Kuliah</td>
                    <td>{{ persiapan_plan }}</td>
                    <td>{{ persiapan_real }}</td>
                  </tr>
                  <tr>
                    <td>Penyelenggaraan Kuliah</td>
                    <td>{{ penyelenggaraan_plan }}</td>
                    <td>{{ penyelenggaraan_real }}</td>
                  </tr>
                  <tr>
                    <td>Dukungan Kuliah Kakak Asuh</td>
                    <td>{{ dukungan_plan }}</td>
                    <td>{{ dukungan_real }}</td>
                  </tr>
                  <tr>
                    <td>Pengembangan Institusi</td>
                    <td>{{ pengembangan_plan }}</td>
                    <td>{{ pengembangan_real }}</td>
                  </tr>
                  <tr>
                    <td>Riset dan Pusilkom</td>
                    <td>{{ riset_plan }}</td>
                    <td>{{ riset_real }}</td>
                  </tr>
                </tbody>
              </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}