{% extends 'base.html' %}

{% block title %}
Rekap Log
{% endblock title%}

{% block content %}

<h1>Rekap Log</h1>

<div style="width: 500px;">
<table class="table">
    <thead>
      <tr>
        <th scope="col">Jenis Pekerjaan</th>
        <th scope="col">Rencana</th>
        <th scope="col">Realiasi</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Persiapan Kuliah</td>
        <td>{{ persiapan_plan }}</td>
        <td>{{ persiapan_real }}</td>
      </tr>
      <tr>
        <td>Penyelenggaraan Kuliah</td>
        <td>{{ penyelenggaraan_plan }}</td>
        <td>{{ penyelenggaraan_real }}</td>
      </tr>
      <tr>
        <td>Dukungan Kuliah Kakak Asuh</td>
        <td>{{ dukungan_plan }}</td>
        <td>{{ dukungan_real }}</td>
      </tr>
      <tr>
        <td>Pengembangan Institusi</td>
        <td>{{ pengembangan_plan }}</td>
        <td>{{ pengembangan_real }}</td>
      </tr>
      <tr>
        <td>Riset dan Pusilkom</td>
        <td>{{ riset_plan }}</td>
        <td>{{ riset_real }}</td>
      </tr>
    </tbody>
  </table>
</div>

{% endblock content %}